<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm Shop</title>
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('menu') %>
<section class="section">
    <div class="container">
        <section class="section">
            <div class="row detail-news-content-margin">
                <div class="col-8">
                    <div class="container detail-news">
                        <h1 class="detail-news-title">
                            Độ chịu chơi của Tae Yang khi nhập ngũ
                        </h1>
                        <img class="detail-news-img" src="https://znews-photo.zadn.vn/w480/Uploaded/ngogtn/2020_09_28/unnamed_1_.jpg">
                        <div class="detail-news-content">
                            <p><b>Thành viên Tae Yang của Big Bang gây ấn tượng với người hâm mộ vì màn trình diễn hoành tráng trên sân khấu KBS Hall trong thời gian nhập ngũ.</b></p>
                            <br>
                            <p>Tháng 4/2019, Tae Yang biểu diễn trong lễ hội âm nhạc của quân đội tổ chức tại KBS Hall, Seoul. Màn biểu diễn của nam ca sĩ khiến không khí hội trường trở nên vô cùng sôi động. Hình ảnh này hiện được chia sẻ và để lại nhiều bàn luận của cư dân mạng.</p>
                            <br>
                            <p>Vì đang tại ngũ, nam ca sĩ đã mặc quân phục khi trình diễn trên sân khấu. Mở đầu màn biểu diễn, Tae Yang đã hát Ringa Linga, ca khúc solo gắn liền với tên tuổi anh được phát hành năm 2013.</p>
                            <br>
                            <p>Sau đó, cùng với Daesung, thành viên Big Bang nhập ngũ cùng thời điểm, cả hai đã trình diễn loạt hit của Big Bang gồm Bang Bang Bang và Fantastic Baby.</p>
                            <br>
                            <p>Đáng chú ý, màn trình diễn ca khúc Ringa Linga của Tae Yang có sự xuất hiện của bốn vũ công mặc đồ đen ở hậu cảnh. Đây được cho là sự đầu tư đắt đỏ và “chịu chơi” của giọng ca nhóm Big Bang trong điều kiện tài chính eo hẹp.</p>
                            <br>
                            <p>Tại thời điểm năm 2019, mức lương cơ bản mỗi năm của một quân nhân Hàn Quốc là 448.000 won (tương đương 410 USD).</p>
                            <br>
                            <p>Việc Tae Yang thuê hai vũ công nhảy nền phục vụ cho màn biểu diễn khiến người hâm mộ thích thú. Với mức lương quân ngũ eo hẹp, nam ca sĩ có thể đã phải bỏ tiền túi để dàn dựng tiết mục.</p>
                            <br>
                            <p>Điều này cho thấy sự chỉn chu và cầu toàn của Tae Yang mỗi khi bước lên sân khấu dù đó là sự kiện âm nhạc với quy mô hàng trăm nghìn khán giả hay một chương trình văn nghệ tổ chức trong quân đội.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="listing-news">
                        <div class="news-item">
                            <p class="news-thumbnail">
                                <a href="#">
                                    <img src="https://znews-photo.zadn.vn/w480/Uploaded/mzdqv/2016_01_22/adadada.jpg">
                                </a>
                            </p>
                            <header>
                                <p class="news-item-title">
                                    <a href="#">Con trai Naruto được viết loạt truyện riêng</a>
                                </p>
                            </header>
                        </div>
                        <div class="news-item">
                            <p class="news-thumbnail">
                                <a href="#">
                                    <img src="https://znews-photo.zadn.vn/w480/Uploaded/mzdqv/2016_01_22/adadada.jpg">
                                </a>
                            </p>
                            <header>
                                <p class="news-item-title">
                                    <a href="#">Con trai Naruto được viết loạt truyện riêng</a>
                                </p>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-8">
                <div class="comment-form">
                    <form>
                        <div class="comment-area">
                            <div class="user-comment-icon"><i class="far fa-comment"></i></div>
                            <textarea onblur="hideNote()" onfocus="showNote()" class="comment-input" placeholder="Bạn nghĩ gì về tin này?" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary comment-btn">Gửi bình luận</button>
                        <div class="note-list">
                            <div class="note">
                                Ý kiến của bạn sẽ được biên tập trước khi đăng.
                            </div>
                            <div class="note">
                                Vui lòng gõ tiếng Việt có dấu.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            -->
        </section>
    </div>
</section>
<%- include('footer') %>
</body>
</html>