<footer class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="contact-us">
                    <h3>Contact us</h3>
                    <ul>
                        <li>Address: 8 Tôn Thất Thuyết, Cầu giấy, Hà Nội</li>
                        <li>(84) 0972 055 909</li>
                        <li>baoddth2003002@fpt.edu.vn</li>
                    </ul>
                    <div id="map" style="width: 800px;height: 200px"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="find-us">
                    <h3>Find us</h3>
                    <ul class="social-network">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    function initMap() {
        // The location of Uluru
        var uluru = {lat: 21.0290081, lng: 105.7816665};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 10, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            label:{
                text:"Rhythm Shop",
                color:"BLUE"
            }
        });
    }
    var showPass = 0; // showPass phai la bien global, neu la local trong function se k chay
    function showPassFunction() {
        var x = document.getElementById("psw");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var y =document.getElementById("btn-show-pass");
        if(showPass == 0) {
            y.classList.remove("fa-eye");
            y.classList.add("fa-eye-slash");
            showPass=1;
        }
        else {
            y.classList.remove("fa-eye-slash");
            y.classList.add("fa-eye");
            showPass=0;
        }
    }
</script>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaj0mHlR-keu-9hsR6d-gB0L9BclG04rk&callback=initMap">
</script>