body{
    font-family: 'Be Vietnam', sans-serif;
    background-color: #f8f9fa;
    font-size: 13px;
    color:#2e2e2e;
}
.menu {
    font-size: 16px;
}
.menu .form-margin-left {
    margin-left:150px ;
}
.menu .user-account {
    font-size: 22px;
}
.slide-show {
    margin-top: 10px;
}
.button-slide {
    background-image: linear-gradient(to right, #fac184 0%, #a556aa 40%, #8fc0f4 61%, #84fab0 100%);
    transition:0.5s;
    background-size: 190% auto;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 15px;
    opacity: 0.8;
    font-size: 16px;
    box-shadow: 0 5px 20px rgba(246,86,86,0.45);
    color: #f3f3f3;
}
.button-slide:hover {
    text-decoration: none;
    cursor:pointer;
    background-position: right center;
    color: #ffffff;
}
.new-realease,.new-single {
    margin-top: 70px;
}
.new-realease-tittle,.new-single-tittle {
    padding-top: 10px;
}
.realease-post,.single-post {
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.realease-post img,.single-post img {
    width: 100%;
    border-radius: 8px 8px 0 0 ;
    margin-bottom: 10px;
}
.realease-post h3,.realease-post p,.single-post h3,.single-post p {
    margin-left: 15px;
}
.realease-post p,.single-post p {
    padding-bottom: 15px;
}
.event,.news {
    margin-top: 80px;
    margin-bottom: 10px;
}
.event img {
    width: 445px;
    height: 450px;
}
.news img {
    width: 100%;
}
.event-post {
    position: relative;
}
.event-post .layer {
    position: absolute;
    height: 450px;
    width: 445px;
    background-color: #2e2e2e;
    top: 0;
    left: 0;
    opacity: 0.4;
}
.event-post .layer1 {
    position: absolute;
    height: 450px;
    width: 445px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0, 0, 0, 0.9) 100%);
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.event-post:hover .layer1 {
    opacity: 0.8;
}
.event-post .event-post-date {
    position: absolute;
    bottom: 200px;
    left: 40px;
    font-size: 20px;
    color: #ffffff;
}
.event-post .event-post-time {
    position: absolute;
    bottom: 175px;
    left: 40px;
    font-size: 20px;
    color:  #ffffff;
}
.event-post .event-post-title a {
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-size: 30px;
    color:  #ffffff;
    transition: 0.4s;
}
.event-post .event-post-address {
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 20px;
    color:  #ffffff;
}
.event-post:hover .event-post-title a , .event-post-title:hover a{
    color: rgb(246,86,86);
    text-decoration: none;
}
.new-realease-tittle,.new-single-tittle {
    margin-bottom: 65px;
}
.new-realease-tittle h2,.new-single-tittle h2 {
    display: inline-block;
    float: left;
}
.new-realease-tittle a,.new-single-tittle a {
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 14px;
}
.col-2 a {
    font-size: 16px;
}
.section-more {
    color: #92999e;
    position: relative;
    transition: 0.4s;
}
.section-more:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color:rgb(246,86,86);
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
.section-more:hover {
    text-decoration: none;
    color: rgb(246,86,86);
}
.section-more:hover:after {
    width: 100%;
}
.news-post {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.news-post-tittle {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: #444951;
    font-size: 26px;
}
.news-post-date {
    padding-right: 20px;
    padding-left: 20px;
    color: #92999e;
    margin-top: 10px;
    display: block;
    font-size: 14px;
}
.news-post-content {
    padding: 20px;
    font-size: 15px;
    color: #444951;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0.4px;
}
.footer {
    padding-top: 20px;
    margin-top: 70px;
    background-color: #efefef;
    color: #000000;
    padding-bottom: 30px;
}
.social-network {
    margin-top: 10px;
    padding-left: 0;
    font-size: 20px;
}
.social-network a i {
    font-size: 17px;
    background: #000000;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s;
    margin-right: 10px;
}
.social-network i:hover{
    background-color: #507bfe;
}
.contact-us h3,.find-us h3 {
    font-size: 28px;
    font-weight: 600;
}

/*css dang ky*/
.form {
    margin-top: 10px;
    margin-bottom: 100px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
a {
    color: dodgerblue;
}
.signin {
    background-color: #f1f1f1;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
#psw {
    position: relative;
}
#btn-show-pass {
    position: absolute;
    top: 313px;
    right: 130px;
    font-size: 15px;
}
#btn-show-pass:hover {
    cursor: pointer;
}